Aula 6 - anotacoes e testes.py
Aula 8 - anotacoes e testes.py
Condicao1.py
Condicao2.py
Condicao3.py
Aula10 - anotacoes e testes.py
Atividade6-30maio25-1-gemini.py
Atividade6-30maio25-2-gemini.py
Atividade6-30maio25-3-gemini.py
Atividade6-30maio25-4-gemini.py
Aula12 - anotacoes e testes.py
Aula12_testes.txt